.requirement-item{
    display: grid;
    grid-template-columns: 0.2fr 0.9fr 1fr 0.8fr ;
    align-items: start;
    gap:30px;
    border:1px solid darkgoldenrod;
    padding: 20px;
    margin: 30px 50px;
    font-size: 17px;
    color:black;

}

.head-name{
    color:darkgoldenrod;
    margin-left: 50px;
}

@media (max-width:1000px) {
    .requirement-item{
   font-size: 12px;
   grid-template-columns: 0.5fr 2fr 1fr;
   padding: 15px 8px;
    }
    
    .requirement-item img{
        width: 40px;
    }
}
